body {
    margin: 0;
    padding: 0;
    display: flex;
    
}


.background-div {
    background-image: url('assets/unsplash-buildings.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    width: 400px;
    height: 100vh;
    flex-shrink: 0;
    flex-grow: 0;
}

.content {
    display: flex;
    flex-direction: column;
}

.sign-up-form {
    flex: 1;
    margin: 0;
    background-color: beige;
    box-shadow: 3 3 3 3;
}

.header {
    margin: 1em;
    flex: 1;
    position: relative;
}



form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
    justify-content: center;
    align-items: center;
}

.form-input {
    display: flex;
    flex-direction: column;
    font-size: .7em;
    gap: .3em;
}

.footer {
    margin: 1em;
    flex: 1;
}

.footer-text {
    padding: 1em;
}

.header-text {
    position: absolute;
    bottom: 0;
    padding: 1em;
}